<app-grafico-dona [datos]="graficos.grafico1.data" [titulos]="graficos.grafico1.labels" [leyenda]="graficos.grafico1.leyenda"></app-grafico-dona>

<app-grafico-dona [datos]="graficos.grafico2.data" [titulos]="graficos.grafico2.labels" [leyenda]="graficos.grafico2.leyenda"></app-grafico-dona>

<app-grafico-dona [datos]="graficos.grafico3.data" [titulos]="graficos.grafico3.labels" [leyenda]="graficos.grafico3.leyenda"></app-grafico-dona>

<app-grafico-dona [datos]="graficos.grafico4.data" [titulos]="graficos.grafico4.labels" [leyenda]="graficos.grafico4.leyenda"></app-grafico-dona>